$primary: #1976d2;
$secondary: #9c27b0;
$error: #d32f2f;
$warning: #ed6c02;
$info: #0288d1;
$success: #2e7d32;
$success: #7af581;
$disabled: rgba(0, 0, 0, 0.38);

$white: #fff;
$black: #121212;

$text: rgba(0, 0, 0, 0.87);
$text-dark: #fff;
$background: #fff;
$background-dark: #121212;

$border-radius: 0.5rem;
